/target/
/**/.settings/
/bin/
/.settings/

/microservice-producer/logs/
/microservice-producer/target/
/microservice-producer/target/bin/
/microservice-notification-consumer/log/
/microservice-notification-consumer/target/
/microservice-notification-consumer/bin/

